<app-nav-bar></app-nav-bar>
<div class="movie-card-container">
  <mat-card *ngFor="let movie of movies;" class="movie-card">
    <img mat-card-image src={{movie.ImageURL}} alt= {{movie.Title}} height="280px"/>
    <div class="card-body">
      <mat-card-header class="movie-card-header">
        <mat-card-title>{{movie.Title}}</mat-card-title>
        <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
      </mat-card-header>
    
      <mat-card-actions class="actions">
          <button
              mat-button
              color="primary"
              (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)"
          >
              Genre
          </button>
          <button
              mat-button
              color="primary"
              (click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio, movie.Director.Birthyear, movie.Director.Deathyear)"
          >
              Director
          </button>
          <button
              mat-button
              color="primary"
              (click)="openSynopsisDialog(movie.Description)"
          >
              Synopsis
          </button>
          <button
            mat-icon-button
            (click)="toggleFavorite(movie._id)"
          >
            <mat-icon *ngIf="!isFavorited(movie)">favorite_border</mat-icon>
            <mat-icon *ngIf="isFavorited(movie)">favorite</mat-icon>
          </button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>