<app-nav-bar></app-nav-bar>
<div class="user-profile-container">
  <mat-card class="user-info-card">
    <mat-card-header class="profile-headers">
      <mat-card-title>{{user.Username}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Email: {{user.Email}}</p>
      <p>Birthday: {{user.Birthday | date:'longDate'}}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="update-user-info-card">
    <mat-card-header class="profile-headers">
      <mat-card-title>Update Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <label>Username</label>
        <mat-form-field class="form-input">
          <input
            matInput
            [(ngModel)]="user.Username"
            placeholder="Username"
            type="text"
            required
          >
        </mat-form-field>
        <label>Email</label>
        <mat-form-field class="form-input">
          <input
            matInput
            [(ngModel)]="user.Email"
            placeholder="Email"
            type="email"
            required
          >
        </mat-form-field>
        <label>Password</label>
        <mat-form-field class="form-input">
          <input
            matInput
            [(ngModel)]="user.Password"
            placeholder="Password"
            type="password"
            required
          >
        </mat-form-field>
        <label>Birthday</label>
        <mat-form-field class="form-input">
          <input
            matInput
            [(ngModel)]="user.Birthday"
            placeholder="Birthday"
            type="date"
            required
          >
        </mat-form-field>
      </form>

      <mat-card-actions>
        <button
          mat-raised-button
          class="button-profile"
          color="warn"
          (click)="deleteUser()"
        >
          Delete
        </button>
        <button
          mat-raised-button
          class="button-profile"
          color="primary"
          type="submit"
          (click)="updateUser()"
        >
          Update
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>

  <div class="favorite-movies">
    <div>
      <h2>Favorite Movies</h2>
      <!-- show message only if no movies in favorites -->
      <div *ngIf="FavoriteMovies.length === 0" style="font-size:18px;">
        <p>You don't have any favorite movies yet!</p>
      </div>
    </div>
    <!-- movie cards displaying user's favorited movies -->
    <div class="movie-card-container">
      <mat-card *ngFor="let movie of FavoriteMovies;" class="movie-cards">
        <img mat-card-image src={{movie.ImageUrl}} alt={{movie.Title}}/>
        <mat-card-actions>
          <button
            mat-button
            color="primary"
          >
            Sypnosis
          </button>
          <button
            mat-button
            color="primary"
          >
            Genre
          </button>
          <button
            mat-button
            color="primary"
          >
            Director
          </button>
          <button>
            <mat-icon>favorite_border</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
